@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    transition: all 0.3s linear !important;
}

@font-face {
    font-family: "Hurme Geometric Sans 1", sans-serif;
    src: url(../font-family/hurme/HurmeGeometricSans1-Bold.woff);
    font-weight: bold;
}

@font-face {
    font-family: "Hurme Geometric Sans 1", sans-serif;
    src: url(../font-family/hurme/HurmeGeometricSans1-Regular.woff);
    font-weight: normal;
}

@font-face {
    font-family: "Hurme Geometric Sans 1", sans-serif;
    src: url(../font-family/hurme/HurmeGeometricSans1-Light.woff);
    font-weight: 300;
}

.serviceSecSlide.swiper-slide {
    opacity: 0 !important;
}

.serviceSecSlide.swiper-slide-active {
    opacity: 1 !important;
}


.swiper-pagination {
    position: unset !important;
}

.swiper-pagination-bullet {
    width: 8px !important;
    height: 8px !important;
    border-radius: 100%;
    background: #E67E22 !important;
}

.swiper-pagination-bullet-active {
    background: #E67E22 !important;
}